@{
    ViewData["Title"] = "PC Express Home";
}

<div class="center">
    <h2>Welcome to PC Express!</h2>
    <h5>To shop online, please visit the 'Shop' tab in the navigation bar</h5>
    <h5>You can also configure and build your own PC using our configurator</h5>
</div>