@model part2.Models.UserInfo 

@{
    ViewData["Title"] = "Part 2: Slideshow";
}

@{
    <p>You have visited this page @Html.DisplayFor(model => model.Visits) times.</p>
    <p>Your IP Address is: @Html.DisplayFor(model => model.IPAddress) </p>
    <p id="timezone"></p>
}