@{
    ViewData["Title"] = "Part 1: Cookie Tracker";
}

@{
    <p>You have visited this page @ViewData["VisitCount"] times.</p>
    <p>Your IP Address is: @ViewData["IPAddr"] </p>
    <p id="timezone"></p>
}