@model part4.Models.Order
@{
    ViewData["Title"] = "Order #" + Model.OrderId;
}
<div class="card-panel">
    <h4>Your order number is: @Model.OrderId</h4>
    <h5>Thank you for your order! Please wait 2-3 days for shipping.</h5>
    <ul id="cartdetails" class="collection row">
        @foreach (var item in Model.Products)
        {
            <li class="collection-item avatar">
                @if (item.getType() == "Computer")
                {
                    <img class="configimg" src="~/images/computer.jpg">
                }
                @if (item.getType() == "VideoCard")
                {
                    <img class="configimg" src="~/images/videocard.png">
                }
                @if (item.getType() == "Processor")
                {
                    <img class="configimg" src="~/images/processor.jpeg">
                }
                @if (item.getType() == "Motherboard")
                {
                    <img class="configimg" src="~/images/motherboard.jpg">
                }
                @if (item.getType() == "RAM")
                {
                    <img class="configimg" src="~/images/memory.jpg">
                }
                @if (item.getType() == "SoundCard")
                {
                    <img class="configimg" src="~/images/soundcard.jpeg">
                }
                @if (item.getType() == "Software")
                {
                    <img class="configimg" src="~/images/operatingsystem.jpg">
                }
                @if (item.getType() == "Harddrive")
                {
                    <img class="configimg" src="~/images/harddrive.jpg">
                }
                @if (item.getType() == "PowerSupply")
                {
                    <img class="configimg" src="~/images/powersupply.jpg">
                }
                <span class="title"><b>@item.getName()</b></span>
                <hr>
                <p>
                    @item.getDescription() <br>
                </p>
                <h5 class="secondary-content">$@item.getPrice().ToString("F")</h5>
            </li>
        }
    </ul>
    <div class="right-align">
        <h5 class="teal-text">Total Price: $@Model.Total.ToString("F")</h5>
    </div>
</div>